body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    
    background-size: cover;
    font-weight: bold;
    color: goldenrod;
    text-align: center;
}
#player-el{
color: #333;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 100%;
    max-width: 10%;
    background: goldenrod;
    padding: .5rem;
    font-weight: bold;
    border: none;
    text-transform: uppercase;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}